.fruit{
    margin-top: 90px;
   padding-bottom: 70px;
   margin-bottom: 70px;
    width: 100;
    justify-content:space-between;
    align-items:center;
    font-family: 'DotGothic16', sans-serif;

   }
   
   .h1{
    font-family: 'DotGothic16' , sans-serif;
    margin-top: 100px;
    color: black;
   
   }
   p{
    font-family: 'DotGothic16' , sans-serif;
   }