.navbar {
  display:flex;
  position: fixed;
    height: 60px;
    outline:auto;
    background: linear-gradient(0.25turn, #68b0ab,#9C95DC, #A9E190,#4A7C59);
    gap: 10;
    width:97.6%;
    margin-left: 1px;
    padding-right: 20px;
    padding-left: 5px;
    margin-top: 10px ;
    z-index: 1;
    font-family: 'DotGothic16' , sans-serif;
  }
  
  .app-container{
    position: absolute;
  }